label {
  display: block;

  &.inline {
    display: inline;
  }
}

fieldset {
  margin-bottom: #{text-margin($base-font-size, 2.0)}rem;

  ul {
    margin-left: 0;
    list-style: none;

    li {
      margin-bottom: #{text-margin($base-font-size, 2.0)}rem;

      label {
        margin-bottom: #{text-margin($base-font-size, 2.0)}rem;
      }
    }
  }
}

input, textarea {
  outline: none;
}
