ul, ol {
  margin-bottom: 0.9rem;
  margin-left: 2.5rem;
}

ul {
  list-style:disc;
}

ol {
  list-style:decimal;
}

li {
  font-size: #{$base-font-size}rem;
  line-height: #{$base-font-size * $line-height-factor}rem;
}

ul.horizontal, ol.horizontal {
  margin: 0;
  display: inline-block;

  li {
    display: inline-block;
  }
}

ul.plain, ol.plain {
  margin-left: 0;

  li {
    list-style: none;
  }
}
