@import "../variables";
@import "../functions";

* {
  font-size: #{$base-font-size}rem;
  font-family: $font-main;
}

code, code * {
  line-height: #{$base-font-size * $line-height-factor}rem;
  margin-bottom: #{text-margin($base-font-size, 2.0)}rem;
  font-family: $font-mono;
}

pre {
  line-height: 0;
}

p code {
  font-size: #{$base-font-size * $inline-code-factor}rem;
  display: inline;
}

h1 {
  font-family: $font-head;
  font-size: #{h1-size()}rem;
  line-height: #{h1-size() * $line-height-factor}rem;
  margin-bottom: #{text-margin(h1-size())}rem;
  margin-top: #{text-margin(h1-size(), $header-margin-top-factor)}rem;
}

h2 {
  font-family: $font-head;
  font-size: #{h2-size()}rem;
  line-height: #{h2-size() * $line-height-factor}rem;
  margin-bottom: #{text-margin(h2-size())}rem;
  margin-top: #{text-margin(h2-size(), $header-margin-top-factor)}rem;
}

h3 {
  font-family: $font-head;
  font-size: #{h3-size()}rem;
  line-height: #{h3-size() * $line-height-factor}rem;
  margin-bottom: #{text-margin(h3-size())}rem;
  margin-top: #{text-margin(h3-size(), $header-margin-top-factor)}rem;
}

h4 {
  font-family: $font-head;
  font-size: #{h4-size()}rem;
  line-height: #{h4-size() * $line-height-factor}rem;
  margin-bottom: #{text-margin(h4-size())}rem;
  margin-top: #{text-margin(h4-size(), $header-margin-top-factor)}rem;
}

h5 {
  font-family: $font-head;
  font-size: #{h5-size()}rem;
  line-height: #{h5-size() * $line-height-factor}rem;
  margin-bottom: #{text-margin(h5-size())}rem;
  margin-top: #{text-margin(h5-size(), $header-margin-top-factor)}rem;
}

p {
  line-height: #{$base-font-size * $line-height-factor}rem;
  margin-bottom: #{text-margin($base-font-size)}rem;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}
