$num-columns: 6 !default;

$container-margin: 20px !default;
$relational-margin: 50px !default;

$base-font-size: 15 !default;

$h1-factor: 2.5 !default;
$h2-factor: 1.9 !default;
$h3-factor: 1.4 !default;
$h4-factor: 1.2 !default;
$h5-factor: 1.0 !default;

$line-height-factor: 1.4 !default;
$inline-code-factor: 0.9 !default;
$text-margin-factor: 0.7 !default;

$header-margin-top-factor: 1.5 !default;

$font-main: "Helvetica Neue", Helvetica, sans-serif !default;
$font-head: "Helvetica Neue", Helvetica, sans-serif !default;
$font-mono: "Source Code Pro", Menlo, monospace !default;
