@import "variables";

@import "aspects/lists";
@import "aspects/forms";
@import "aspects/navigation";
@import "aspects/type";

html {
  font-size: 10px;
  line-height: 10px;
}

hr {
  margin: #{text-margin($base-font-size, 2.0)}rem 0;
}
