@import "../../variables";

$space-unit: 1;

@for $i from 1 through $num-columns {
  .space-#{$i} {
    margin: #{$i * $space-unit}rem;
  }

  .space-above-#{$i} {
    margin-top: #{$i * $space-unit}rem;
  }

  .space-right-#{$i} {
    margin-right: #{$i * $space-unit}rem;
  }

  .space-below-#{$i} {
    margin-bottom: #{$i * $space-unit}rem;
  }

  .space-left-#{$i} {
    margin-left: #{$i * $space-unit}rem;
  }

  .space-inside-#{$i} {
    padding: #{$i * $space-unit}rem;
  }

  .space-inside-top-#{$i} {
    padding-top: #{$i * $space-unit}rem;
  }

  .space-inside-right-#{$i} {
    padding-right: #{$i * $space-unit}rem;
  }

  .space-inside-bottom-#{$i} {
    padding-bottom: #{$i * $space-unit}rem;
  }

  .space-inside-left-#{$i} {
    padding-left: #{$i * $space-unit}rem;
  }
}
