<form binding="post:foo" ui="form" class="foo">
  <ul ui="form-errors">
    <li binding="error.message">
      Error message goes here.
    </li>
  </ul>

  <input type="text" binding="title" class="foo">
  <input type="text" binding="body" class="foo">
</form>

<form binding="post:bar" ui="form" class="bar">
  <ul ui="form-errors">
    <li binding="error.message">
      Error message goes here.
    </li>
  </ul>

  <input type="text" binding="title" class="bar">
  <input type="text" binding="body" class="bar">
</form>
