<h1>
  Blog Posts
</h1>

<article binding="post" version="published">
  published!

  <h2 binding="title">
    title goes here
  </h2>

  <h2 binding="title" version="red" style="color: red;">
    title goes here
  </h2>

  <p binding="body">
    body goes here
  </p>
</article>

<article binding="post" version="unpublished">
  unpublished

  <h2 binding="title" version="default">
    title goes here
  </h2>

  <h2 binding="title" version="red" style="color: red;">
    title goes here
  </h2>

  <p binding="body">
    body goes here
  </p>
</article>
