name: Smoke Test

on:
  push:
  repository_dispatch:

jobs:
  smoke-tests:
    runs-on: ubuntu-latest

    name: ${{ matrix.ruby }} Smoke Test

    strategy:
      matrix:
        ruby:
          - 2.5.7
          - 2.6.5

      fail-fast: false

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-ruby@v1

      - name: Cleanup directories
        run: |
          rm -rf .git

      - name: Create zip
        run: |
          cd ../
          zip -rq pakyow pakyow
          mv pakyow.zip ../

      - name: Clone ci-helpers
        run: |
          cd ../../
          git clone https://github.com/pakyow/ci-helpers.git

      - name: Run CI
        run: |
          cd ../../ci-helpers
          gem install bundler
          bundle install
          bundle exec commands/runner --ruby ${{ matrix.ruby }} --path '../pakyow.zip' -e 'CI=true' -e 'SMOKE=true' -f 'mysql postgres redis' 'bundle exec rspec spec/smoke'
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
