# name: Test Ruby HEAD

# on:
#   schedule:
#     - cron: '0 1 * * *'
#   repository_dispatch:

# jobs:
#   test-ruby-head:
#     runs-on: ubuntu-latest

#     name: ${{ matrix.ruby }} ${{ matrix.gem }}

#     strategy:
#       matrix:
#         ruby:
#           - head

#         gem:
#           - assets
#           - core
#           - form
#           - mailer
#           - routing
#           - support

#       fail-fast: false

#     steps:
#       - uses: actions/checkout@v1
#       - uses: actions/setup-ruby@v1

#       - name: Cleanup directories
#         run: |
#           rm -rf .git

#       - name: Create zip
#         run: |
#           cd ../
#           zip -rq pakyow pakyow
#           mv pakyow.zip ../

#       - name: Clone ci-helpers
#         run: |
#           cd ../../
#           git clone https://github.com/pakyow/ci-helpers.git

#       - name: Run CI
#         run: |
#           cd ../../ci-helpers
#           gem install bundler
#           bundle install
#           bundle exec commands/runner --ruby ${{ matrix.ruby }} --path '../pakyow.zip' -e 'CI=true' -f '' 'cd pakyow-${{ matrix.gem }} && bundle exec rspec'
#         env:
#           GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}

#   test-ruby-head-presenter-realtime-ui:
#     runs-on: ubuntu-latest

#     name: ${{ matrix.ruby }} ${{ matrix.gem }}

#     strategy:
#       matrix:
#         ruby:
#           - head

#         gem:
#           - form
#           - presenter
#           - realtime
#           - ui

#       fail-fast: false

#     steps:
#       - uses: actions/checkout@v1
#       - uses: actions/setup-ruby@v1

#       - name: Cleanup directories
#         run: |
#           rm -rf .git

#       - name: Create zip
#         run: |
#           cd ../
#           zip -rq pakyow pakyow
#           mv pakyow.zip ../

#       - name: Clone ci-helpers
#         run: |
#           cd ../../
#           git clone https://github.com/pakyow/ci-helpers.git

#       - name: Run CI
#         run: |
#           cd ../../ci-helpers
#           gem install bundler
#           bundle install
#           bundle exec commands/runner --ruby ${{ matrix.ruby }} --path '../pakyow.zip' -e 'CI=true' -f 'redis' 'cd pakyow-${{ matrix.gem }} && bundle exec rspec'
#         env:
#           GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}

#   test-ruby-head-data:
#     runs-on: ubuntu-latest

#     name: ${{ matrix.ruby }} ${{ matrix.gem }}

#     strategy:
#       matrix:
#         ruby:
#           - head

#         gem:
#           - data

#       fail-fast: false

#     steps:
#       - uses: actions/checkout@v1
#       - uses: actions/setup-ruby@v1

#       - name: Cleanup directories
#         run: |
#           rm -rf .git

#       - name: Create zip
#         run: |
#           cd ../
#           zip -rq pakyow pakyow
#           mv pakyow.zip ../

#       - name: Clone ci-helpers
#         run: |
#           cd ../../
#           git clone https://github.com/pakyow/ci-helpers.git

#       - name: Run CI
#         run: |
#           cd ../../ci-helpers
#           gem install bundler
#           bundle install
#           bundle exec commands/runner --ruby ${{ matrix.ruby }} --path '../pakyow.zip' -e 'CI=true' -f 'mysql postgres redis' 'cd pakyow-${{ matrix.gem }} && bundle exec rspec'
#         env:
#           GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
