name: Test Ruby HEAD

on:
  schedule:
    - cron: '0 1 * * *'
  repository_dispatch:

jobs:
  test-ruby-head:
    runs-on: ubuntu-latest

    name: ${{ matrix.ruby }} ${{ matrix.gem }}

    strategy:
      matrix:
        ruby:
          - head

        gem:
          - assets
          - core
          - form
          - mailer
          - routing
          - support

      fail-fast: false

    steps:
      - uses: actions/checkout@v1

      - name: Setup
        shell: bash -l -e -o pipefail {0}
        run: |
          rm -f Gemfile.lock
          bundle install --jobs=3 && bundle update --jobs=3

      - name: Test
        shell: bash -l -e -o pipefail {0}
        run: |
          CI=true bundle exec rake test:${{ matrix.gem }}

  test-ruby-head-presenter-realtime-ui:
    runs-on: ubuntu-latest

    name: ${{ matrix.ruby }} ${{ matrix.gem }}

    services:
      redis:
        image: redis:latest
        ports:
          - 6379:6379

    strategy:
      matrix:
        ruby:
          - head

        gem:
          - form
          - presenter
          - realtime
          - ui

      fail-fast: false

    steps:
      - uses: actions/checkout@v1

      - name: Setup
        shell: bash -l -e -o pipefail {0}
        run: |
          rm -f Gemfile.lock
          bundle install --jobs=3 && bundle update --jobs=3

      - name: Test
        shell: bash -l -e -o pipefail {0}
        run: |
          CI=true bundle exec rake test:${{ matrix.gem }}
        env:
          REDIS_URL: redis://redis:${{ job.services.redis.ports[6379] }}

  test-ruby-head-data:
    runs-on: ubuntu-latest

    name: ${{ matrix.ruby }} ${{ matrix.gem }}

    services:
      mysql:
        image: mysql:latest
        ports:
          - 3307:3306
        env:
          MYSQL_ROOT_PASSWORD: pakyow
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

      postgres:
        image: postgres:latest
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: pakyow
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

      redis:
        image: redis:latest
        ports:
          - 6379:6379

    strategy:
      matrix:
        ruby:
          - head

        gem:
          - data

      fail-fast: false

    steps:
      - uses: actions/checkout@v1

      - name: Setup
        shell: bash -l -e -o pipefail {0}
        run: |
          rm -f Gemfile.lock
          bundle install --jobs=3 && bundle update --jobs=3

      - name: Test
        shell: bash -l -e -o pipefail {0}
        run: |
          CI=true bundle exec rake test:${{ matrix.gem }}
        env:
          MYSQL_URL: mysql2://root:pakyow@mysql:${{ job.services.mysql.ports[3307] }}
          POSTGRES_URL: postgres://postgres:pakyow@postgres:${{ job.services.postgres.ports[5432] }}
          REDIS_URL: redis://redis:${{ job.services.redis.ports[6379] }}
